.main-highlight-wrapper {
	width:100%;
	background: #F5F5F7;
	text-align: center;
	margin: 15px 0;
	padding: 22px 140px;
} 
.internal-wrapper{
    width: 90%;
}
.links-wrapper ul {
	list-style: none;
}
.model {
	font-size: .85em;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
}
.links-wrapper ul li a:hover {
	color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}