.header-wrapper {
	width: 100%;
	background: black; 
	color: #fff;
	font-weight: 200;
	font-size: 0.75em;	
}
.header-links-wrapper {
    display:block;
	width: 90%;
	padding: 0 10px;
	margin: 0 auto;
    justify-content: space-between;
  
}
.header-wrapper ul {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header-wrapper .header-links-wrapper ul  li a {
	text-decoration: none;
	color: #fff;
}
.header-wrapper ul {
	list-style: none;
}
.header-wrapper .header-links-wrapper ul  li {
display:inline-block;
  padding: 14px 0 8px;
  height: 25px;
  opacity: 0.8;
}
.header-wrapper .header-links-wrapper ul  li:hover {
	opacity: 1;
}	
.logo-link, .search-link, .cart-link {
	width: 18px;	
	display: block;
}
.header-wrapper .header-links-wrapper ul  li.logo-link {
	padding: 12px 0 10px;
}
.header-wrapper .header-links-wrapper ul  li.search-link {
	padding: 14px 0 8px;
}
.header-wrapper .header-links-wrapper ul  li.cart-link {
	padding: 12px 0 10px;
}
@media screen and (min-width:560px){
    .header-links-wrapper{
        display: flex;
        /* position: sticky; */
    } 
}