.fourth-heghlight-wrapper {
    width:100%;
   display:block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #FFFFFF;
	    
}
.left-side-wrapper {
	height:580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width:100%;
	padding-top: 54px;  
    margin: 10px auto;
}
.fourth-heghlight-wrapper .left-side-wrapper {
	background-image:  url("../images/home/watch-series-5.jpg"); 
}
.right-side-wrapper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
	width:100%;
	padding-top: 54px;
    height:580px;
    margin:5 auto;
} 
.fourth-heghlight-wrapper .right-side-wrapper {
	background-image:  url("../images/home/apple-card.jpg"); 
}
.description-wraper {
	max-width: 430px;
	margin: 0 auto;
	padding: 10px; 
}
/*Fivth Highlight Section */
.fifth-heghlight-wrapper {
	width:100%;
	display:block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #FFFFFF;
}
.fifth-heghlight-wrapper .left-side-wrapper {
	background-image:  url("../images/home/apple-tv-background.jpg"); 
}
.fifth-heghlight-wrapper .right-side-wrapper {
	background-image:  url("../images/home/air-pods.jpg"); 
	color: #fff; 
	background-size: initial;
	background-color: #000;
	background-position: bottom;
}
.logo-wrapper {
	font-size: 40px;
	font-weight: bold;
}
.tvshow-logo-wraper {
	/* padding: 180px 0 200px; */
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}

/*Sixth Highlight Section */
.sixth-heghlight-wrapper {
	width:100%;
	display:block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
	/* padding: 22px 140px; */
}
.sixth-heghlight-wrapper .left-side-wrapper {
	background-image:  url("../images/home/macbook-pro.jpg"); 
	background-size: initial;
	background-color: #fafafa;
	background-position: bottom;
}
.sixth-heghlight-wrapper .right-side-wrapper {
	background-image:  url("../images/home/new-ipad.jpg"); 
}
.product-title-small {
	font-weight: 700;
	font-size: 45px;
}
@media screen and (min-width:760px){
    .sixth-heghlight-wrapper, .fourth-heghlight-wrapper, .fifth-heghlight-wrapper{
        display: flex;
        /* position: sticky; */
    } 
}